.arriba{
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    transition: .1s;
   

}
 
.boton i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    color:yellow;
    transition: .1s;


}

.show{
    z-index: 10;
}


.show .boton{
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;

}

.show i{
    transform: translate(-50% , -50%) scale(1);
}


@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}

@media screen and (max-width:1000px){

    .arriba{

        bottom: 30px;
        right: 30px;
       
    }
}